//Blog Section
.blog-section {
	.container {
		max-width: 1310px;
	}
}
.blog-right-sidebar {
	background-color: #f6f8ef;
	border-radius: 12px;
	padding: 50px 25px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	.user-profile {
		max-width: 238px;
		margin: 0 auto;
		.profile {
			margin: 0 auto 40px;
		}
		.title {
			margin-bottom: 10px;
			a {
				font-size: 26px;
				color: $black;
				font-weight: 600;
			}
		}
		.designation {
			color: #898989;
			font-size: 14px;
		}
		.profile-cont {
			margin-bottom: 37px;
		}
		.exprient-text {
			margin-bottom: 28px;
			font-weight: 500;
			font-size: 18px;
			line-height: 30px;
			color: #4a4a4a;
		}
		.social-icon {
			gap: 10px;
			a {
				width: 42px;
				height: 42px;
				border-radius: 50%;
				background: $white;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #39404a;
				&:hover {
					background-color: $black;
					color: $white;
					font-size: 16px;
				}
			}
		}
	}
	.bar-cmn-title {
		font-size: 22px;
		line-height: 26px;
		color: $black;
		margin-bottom: 21px;
		font-weight: 600;
	}
	.category-point {
		ul {
			display: flex;
			flex-direction: column;
			gap: 12px;
			.cate-item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				background-color: $white;
				padding: 12px 24px;
				border-radius: 6px;
				font-size: 18px;
				font-weight: 500;
				color: #4a4a4a;
				transition: all 0.4s ease-in-out;
				&:hover {
					background-color: $theme-color;
					color: $white;
				}
			}
		}
	}
	.post-point {
		ul {
			display: flex;
			flex-direction: column;
			gap: 20px;
			li {
				a {
					display: flex;
					align-items: center;
					gap: 24px;
					.thumb {
						width: 145px;
						img {
							width: 100%;
						}
					}
					.cont {
						.date {
							font-size: 14px;
							color: #717171;
							display: block;
							margin-bottom: 4px;
						}
						.titles {
							transition: all 0.4s ease-in-out;
							font-size: 18px;
							line-height: 22px;
							display: block;
							color: $black;
							font-weight: 600;
						}
					}
					&:hover {
						.titles {
							color: $theme-color;
						}
					}
				}
			}
		}
	}
	.tag-point {
		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
			li {
				a {
					display: inline-block;
					background-color: $white;
					font-size: 15px;
					line-height: 19px;
					border-radius: 100px;
					padding: 8px 19px;
					color: #4a4a4a;
					transition: all 0.4s ease-in-out;
					&:hover {
						background-color: $theme-color;
						color: $white;
					}
				}
			}
		}
	}
	@include breakpoint(max-xxl) {
		padding: 40px 19px;
		gap: 34px;
		.user-profile {
			max-width: 238px;
			margin: 0 auto;
			.profile {
				margin: 0 auto 20px;
			}
			.title {
				margin-bottom: 8px;
				a {
					font-size: 24px;
				}
			}
			.designation {
				font-size: 14px;
			}
			.profile-cont {
				margin-bottom: 24px;
			}
			.exprient-text {
				margin-bottom: 24px;
				font-size: 14px;
				line-height: 20px;
			}
		}
		.bar-cmn-title {
			font-size: 19px;
			line-height: 24px;
			margin-bottom: 18px;
		}
		.category-point {
			ul {
				display: flex;
				flex-direction: column;
				gap: 9px;
				.cate-item {
					padding: 8px 20px;
					border-radius: 6px;
					font-size: 16px;
				}
			}
		}
		.post-point {
			ul {
				display: flex;
				flex-direction: column;
				gap: 15px;
				li {
					a {
						gap: 10px;
						.thumb {
							width: 110px;
							img {
								width: 100%;
							}
						}
						.cont {
							.date {
								font-size: 12px;
								margin-bottom: 2px;
							}
							.titles {
								font-size: 16px;
								line-height: 22px;
							}
						}
					}
				}
			}
		}
		.tag-point {
			ul {
				gap: 8px;
				li {
					a {
						font-size: 13px;
						line-height: 18px;
						padding: 7px 16px;
					}
				}
			}
		}
	}
}
.blog-left-wrap {
	display: flex;
	flex-direction: column;
	gap: 40px;
	.blog-big-items {
		padding: 15px;
		border: 1px solid #dadada;
		border-radius: 12px;
		.blog-thumb {
			width: 100%;
			display: block;
			overflow: hidden;
			border-radius: 12px;
			img {
				overflow: hidden;
				width: 100%;
				border-radius: 12px;
				display: block;
				transition: all 0.4s ease-in-out;
			}
		}
		.blog-content {
			padding: 29px 25px 32px;
			.blog-meta {
				display: flex;
				align-items: center;
				gap: 10px 32px;
				margin-bottom: 10px;
				.meta-use {
					font-size: 18px;
					font-weight: 600;
					color: $black;
				}
				.meta-date {
					font-size: 16px;
					color: #717171;
				}
				.marketing-tag {
					border: 1px solid rgb(234, 77, 35, 31%);
					font-size: 15px;
					line-height: 18px;
					padding: 10px 20px;
					border-radius: 100px;
					display: inline-block;
					color: $theme-color;
				}
			}
			.blog-title {
				font-size: 44px;
				line-height: 52px;
				color: $black;
				font-weight: 500;
				margin-bottom: 20px;
			}
			.blog-text {
				font-size: 18px;
				line-height: 30px;
				color: #898989;
				margin-bottom: 42px;
			}
		}
		&:hover {
			.blog-content {
				.blog-title a {
					color: $theme-color;
				}
			}
			.blog-thumb {
				img {
					border-radius: 12px;
					transform: scale(1.05);
				}
			}
		}
	}
	&.styel2 {
		.blog-big-items {
			padding: 0;
			border: 0;
			.blog-thumb {
				margin-bottom: 25px;
			}
			.blog-content {
				padding: 0;
				.blog-meta {
					margin-bottom: 24px;
					gap: 8px 20px;
					li {
						font-size: 16px;
						color: #666666;
					}
					.line {
						width: 1px;
						background-color: #646970cb;
						height: 23px;
					}
				}
				.blog-title {
					font-weight: 700;
					margin-bottom: 20px;
				}
				.intro {
					margin-bottom: 40px;
					.title {
						margin-bottom: 12px;
						color: $black;
						font-size: 26px;
					}
					p {
						font-size: 16px;
						line-height: 24px;
						color: #898989;
					}
				}
				.l-pra {
					font-size: 16px;
					line-height: 24px;
					color: #898989;
					margin-bottom: 70px;
				}
				.quote-wrap {
					background-color: #f8f7f0;
					padding: 45px 55px;
					border-left: 2px solid #ea4d23;
					margin-bottom: 50px;
					h4 {
						font-size: 28px;
						color: $black;
						margin-bottom: 40px;
					}
					.exicutive {
						h5 {
							font-size: 18px;
							line-height: 24px;
							color: $black;
							margin-bottom: 2px;
						}
						p {
							font-size: 16px;
							line-height: 18px;
						}
					}
				}
				.intro2 {
					.title {
						margin-bottom: 12px;
						color: $black;
						font-size: 22px;
						line-height: 29px;
					}
					.pra-fs {
						font-size: 16px;
						line-height: 24px;
						color: #898989;
						margin-bottom: 30px;
					}
					.intro-list {
						display: flex;
						flex-direction: column;
						gap: 15px;
						li {
							position: relative;
							padding-left: 24px;
							display: flex;
							align-items: center;
							gap: 14px;
							font-size: 16px;
							line-height: 19px;
							color: #898989;
							&::before {
								position: absolute;
								content: "";
								left: 0;
								width: 5px;
								height: 5px;
								background-color: #898989;
								border-radius: 50%;
							}
						}
					}
					.pra-ls {
						font-size: 16px;
						line-height: 24px;
						color: #898989;
						margin-top: 30px;
					}
				}
			}
			.blog-thumb02 {
				margin-top: 60px;
				margin-bottom: 60px;
				display: block;
				width: 100%;
				img {
					width: 100%;
				}
			}
		}
		.comment-area {
			padding: 80px 0;
			h4 {
				margin-bottom: 40px;
				font-size: 38px;
				line-height: 48px;
				color: $black;
				font-weight: 700;
			}
			.comment-area-inner {
				display: flex;
				flex-direction: column;
				gap: 56px;
				.comment-area-item {
					display: flex;
					gap: 25px;
					.com-thumb {
						width: 92px;
						height: 92px;
						border-radius: 50%;
					}
					.comment-cont {
						.pra-box {
							margin-top: 20px;
							padding: 30px 30px;
							border-radius: 12px;
							margin-bottom: 15px;
							p {
								color: #898989;
								font-size: 16px;
								line-height: 26px;
							}
						}
						.replay {
							font-size: #505050;
							font-size: 16px;
							font-weight: 500;
							transition: all 0.4s;
							&:hover {
								color: $theme-color;
							}
						}
					}
					&.third {
						margin-left: 100px;
					}
				}
			}
		}
		@include breakpoint(max-xl) {
			.blog-big-items {
				padding: 0;
				border: 0;
				.blog-thumb {
					margin-bottom: 20px;
				}
				.blog-content {
					padding: 0;
					.blog-meta {
						margin-bottom: 19px;
						gap: 7px 18px;
						li {
							font-size: 16px;
						}
						.line {
							width: 1px;
							height: 18px;
						}
					}
					.blog-title {
						margin-bottom: 20px;
						font-size: 29px;
						line-height: 35px;
					}
					.intro {
						margin-bottom: 28px;
						.title {
							margin-bottom: 9px;
							color: $black;
							font-size: 20px;
							line-height: 24px;
						}
						p {
							font-size: 16px;
							line-height: 24px;
						}
					}
					.l-pra {
						font-size: 16px;
						line-height: 24px;
						margin-bottom: 30px;
					}
					.quote-wrap {
						padding: 30px 30px;
						border-left: 1px solid #ea4d23;
						margin-bottom: 30px;
						h4 {
							font-size: 20px;
							line-height: 26px;
							color: $black;
							margin-bottom: 28px;
						}
						.quote {
							width: 36px;
						}
						.exicutive {
							h5 {
								font-size: 18px;
								line-height: 24px;
								color: $black;
								margin-bottom: 2px;
							}
							p {
								font-size: 16px;
								line-height: 18px;
							}
						}
					}
					.intro2 {
						.title {
							margin-bottom: 8px;
							font-size: 20px;
							line-height: 28px;
						}
						.pra-fs {
							font-size: 16px;
							line-height: 24px;
							color: #898989;
							margin-bottom: 20px;
						}
						.intro-list {
							display: flex;
							flex-direction: column;
							gap: 11px;
							li {
								position: relative;
								padding-left: 24px;
								display: flex;
								align-items: center;
								gap: 14px;
								font-size: 16px;
								line-height: 19px;
							}
						}
						.pra-ls {
							font-size: 16px;
							line-height: 24px;
							margin-top: 20px;
						}
					}
				}
				.blog-thumb02 {
					margin-top: 30px;
					margin-bottom: 30px;
				}
			}
			.comment-area {
				padding: 60px 0;
				h4 {
					margin-bottom: 24px;
					font-size: 28px;
					line-height: 37px;
				}
				.comment-area-inner {
					display: flex;
					flex-direction: column;
					gap: 45px;
					.comment-area-item {
						display: flex;
						gap: 16px;
						.com-thumb {
							width: 90px;
							height: 90px;
							img {
								width: 100%;
							}
						}
						.comment-cont {
							.pra-box {
								margin-top: 16px;
								padding: 16px 20px;
								margin-bottom: 9px;
								p {
									color: #898989;
									font-size: 16px;
									line-height: 22px;
								}
							}
							.replay {
								font-size: #505050;
								font-size: 16px;
								font-weight: 500;
								transition: all 0.4s;
								&:hover {
									color: $theme-color;
								}
							}
						}
						&.third {
							margin-left: 100px;
						}
					}
				}
			}
		}
		@include breakpoint(max-md) {
			.blog-big-items {
				padding: 0;
				border: 0;
				.blog-thumb {
					margin-bottom: 20px;
				}
				.blog-content {
					padding: 0;
					.blog-meta {
						margin-bottom: 19px;
						gap: 7px 18px;
						li {
							font-size: 16px;
						}
						.line {
							width: 1px;
							height: 18px;
						}
					}
					.blog-title {
						margin-bottom: 16px;
						font-size: 26px;
						line-height: 30px;
					}
					.intro {
						margin-bottom: 16px;
						.title {
							margin-bottom: 9px;
							color: $black;
							font-size: 20px;
							line-height: 24px;
						}
						p {
							font-size: 16px;
							line-height: 24px;
						}
					}
					.l-pra {
						font-size: 16px;
						line-height: 24px;
						margin-bottom: 25px;
					}
					.quote-wrap {
						padding: 24px 20px;
						margin-bottom: 25px;
						h4 {
							font-size: 18px;
							line-height: 26px;
							color: $black;
							margin-bottom: 22px;
						}
						.quote {
							width: 36px;
						}
						.exicutive {
							h5 {
								font-size: 18px;
								line-height: 24px;
								color: $black;
								margin-bottom: 2px;
							}
							p {
								font-size: 16px;
								line-height: 18px;
							}
						}
					}
					.intro2 {
						.title {
							margin-bottom: 8px;
							font-size: 20px;
							line-height: 28px;
						}
						.pra-fs {
							font-size: 16px;
							line-height: 24px;
							color: #898989;
							margin-bottom: 20px;
						}
						.intro-list {
							display: flex;
							flex-direction: column;
							gap: 11px;
							li {
								position: relative;
								padding-left: 24px;
								display: flex;
								align-items: center;
								gap: 14px;
								font-size: 16px;
								line-height: 19px;
							}
						}
						.pra-ls {
							font-size: 16px;
							line-height: 24px;
							margin-top: 20px;
						}
					}
				}
				.blog-thumb02 {
					margin-top: 22px;
					margin-bottom: 22px;
				}
			}
			.comment-area {
				padding: 60px 0;
				h4 {
					margin-bottom: 24px;
					font-size: 28px;
					line-height: 37px;
				}
				.comment-area-inner {
					display: flex;
					flex-direction: column;
					gap: 24px;
					.comment-area-item {
						display: flex;
						gap: 16px;
						.com-thumb {
							width: 90px;
							height: 90px;
							img {
								width: 100%;
							}
						}
						.comment-cont {
							.pra-box {
								margin-top: 16px;
								padding: 16px 20px;
								margin-bottom: 9px;
								p {
									color: #898989;
									font-size: 16px;
									line-height: 22px;
								}
							}
							.replay {
								font-size: #505050;
								font-size: 16px;
								font-weight: 500;
								transition: all 0.4s;
								&:hover {
									color: $theme-color;
								}
							}
						}
						&.third {
							margin-left: 1px;
						}
					}
				}
			}
		}
		@include breakpoint(max-sm) {
			.comment-area {
				padding: 40px 0;
				h4 {
					margin-bottom: 24px;
					font-size: 21px;
					line-height: 27px;
				}
				.comment-area-inner {
					display: flex;
					flex-direction: column;
					gap: 24px;
					.comment-area-item {
						display: flex;
						gap: 16px;
						.com-thumb {
							width: 60px;
							height: 60px;
							min-width: 60px;
							img {
								width: 100%;
							}
						}
						.comment-cont {
							.pra-box {
								margin-top: 16px;
								padding: 16px 20px;
								margin-bottom: 9px;
								p {
									color: #898989;
									font-size: 16px;
									line-height: 22px;
								}
							}
							.replay {
								font-size: #505050;
								font-size: 16px;
								font-weight: 500;
								transition: all 0.4s;
								&:hover {
									color: $theme-color;
								}
							}
						}
						&.third {
							margin-left: 1px;
						}
					}
				}
			}
		}
	}
	.leave-area {
		.head {
			margin-bottom: 45px;
			h4 {
				font-size: 38px;
				font-weight: 700;
				color: $black;
				margin-bottom: 16px;
			}
			p {
				color: #898989;
				font-size: 16px;
				line-height: 22px;
			}
		}
		.leave-grp {
			label {
				color: #232323;
				font-size: 16px;
				line-height: 22px;
				margin-bottom: 12px;
			}
			textarea {
				margin-bottom: -10px;
			}
			textarea,
			input {
				background-color: #f6f8ef;
				padding: 12px 19px;
				border: unset;
				outline: none;
				color: $black;
				font-size: 15px;
				width: 100%;
			}
		}
		@include breakpoint(max-xl) {
			.head {
				margin-bottom: 35px;
				h4 {
					font-size: 30px;
					font-weight: 700;
					color: $black;
					margin-bottom: 9px;
				}
				p {
					color: #898989;
					font-size: 16px;
					line-height: 22px;
				}
			}
			.leave-grp {
				label {
					color: #232323;
					font-size: 16px;
					line-height: 22px;
					margin-bottom: 12px;
				}
				textarea {
					margin-bottom: -10px;
				}
				textarea,
				input {
					background-color: #f6f8ef;
					padding: 14px 19px;
					border: unset;
					outline: none;
					color: $black;
					font-size: 15px;
					width: 100%;
				}
			}
		}
		@include breakpoint(max-md) {
			.head {
				margin-bottom: 20px;
				h4 {
					font-size: 22px;
					margin-bottom: 9px;
				}
				p {
					color: #898989;
					font-size: 16px;
					line-height: 22px;
				}
			}
		}
	}
	@include breakpoint(max-xl) {
		gap: 40px;
		.blog-big-items {
			padding: 15px;
			border: 1px solid #dadada;
			border-radius: 12px;
			.blog-thumb {
				width: 100%;
				display: block;
				overflow: hidden;
				border-radius: 12px;
				img {
					overflow: hidden;
					width: 100%;
					border-radius: 12px;
					display: block;
					transition: all 0.4s ease-in-out;
				}
			}
			.blog-content {
				padding: 24px 10px 25px;
				.blog-meta {
					display: flex;
					align-items: center;
					gap: 10px 32px;
					margin-bottom: 10px;
					.meta-use {
						font-size: 18px;
						font-weight: 600;
						color: $black;
					}
					.meta-date {
						font-size: 16px;
					}
					.marketing-tag {
						font-size: 14px;
						line-height: 17px;
						padding: 9px 16px;
					}
				}
				.blog-title {
					font-size: 36px;
					line-height: 46px;
					margin-bottom: 16px;
					a {
						font-size: 36px;
					}
				}
				.blog-text {
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 35px;
				}
			}
		}
	}
	@include breakpoint(max-md) {
		gap: 30px;
		.blog-big-items {
			padding: 15px;
			border: 1px solid #dadada;
			border-radius: 12px;
			.blog-thumb {
				width: 100%;
				display: block;
				overflow: hidden;
				border-radius: 12px;
				img {
					overflow: hidden;
					width: 100%;
					border-radius: 12px;
					display: block;
					transition: all 0.4s ease-in-out;
				}
			}
			.blog-content {
				padding: 24px 5px 25px;
				.blog-meta {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					gap: 8px 20px;
					margin-bottom: 10px;
					.meta-use {
						font-size: 18px;
						font-weight: 600;
						color: $black;
					}
					.meta-date {
						font-size: 16px;
					}
					.marketing-tag {
						font-size: 14px;
						line-height: 17px;
						padding: 9px 16px;
					}
				}
				.blog-title {
					font-size: 29px;
					line-height: 33px;
					margin-bottom: 16px;
					a {
						font-size: 29px;
					}
				}
				.blog-text {
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 35px;
				}
			}
		}
	}
}
.pagination-list {
	display: flex;
	gap: 16px;
	margin-top: 60px;
	li {
		a {
			width: 50px;
			height: 50px;
			border: 1px solid $black;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $black;
			font-size: 20px;
			font-weight: 600;
			transition: all 0.4s ease-in-out;
			border-radius: 50%;
			&:hover {
				background-color: $black;
				color: $white;
			}
		}
	}
	@include breakpoint(max-md) {
		margin-top: 40px;
		gap: 12px;
		li {
			a {
				width: 40px;
				height: 40px;
				font-size: 16px;
			}
		}
	}
	@include breakpoint(max-sm) {
		margin-top: 24px;
		gap: 12px;
		li {
			a {
				width: 40px;
				height: 40px;
				font-size: 16px;
			}
		}
	}
}
//Blog Section

//article-section02
.article-section02 {
	background-color: #252525;
	border-radius: 150px 150px 0 0;
	@include breakpoint(max-xxl) {
		border-radius: 90px 90px 0 0;
	}
	@include breakpoint(max-xxl) {
		border-radius: 0px 0px 0 0;
	}
}
.article-inner {
	display: flex;
	flex-direction: column;
	gap: 30px;
	.article__item {
		max-width: 1072px;
		border: 1px solid rgba(255, 255, 255, 0.17);
		border-radius: 12px;
		padding: 21px 21px 21px 60px;
		display: flex;
		align-items: center;
		gap: 60px;
		.content {
			width: calc(100% - 378px);
			.date {
				margin-bottom: 24px;
				gap: 16px;
				font-size: 16px;
				color: $white;
				.line {
					width: 55px;
					height: 1px;
					background-color: $white;
				}
			}
			.title {
				font-size: 36px;
				line-height: 42px;
				font-weight: 700;
				color: $white;
				margin-bottom: 40px;
				display: block;
			}
			.read-more {
				font-weight: 600;
				color: $white;
				font-size: 16px;
				transition: all 0.4s;
				i {
					transform: rotate(-50deg);
					transition: all 0.4s;
				}
				&:hover {
					color: $theme-color;
					i {
						transform: rotate(0);
					}
				}
			}
		}
		.thumb {
			border-radius: 8px;
			overflow: hidden;
			max-width: 378px;
			img {
				width: 100%;
			}
		}
		&:hover {
			background-color: #303030;
			border-color: #303030;
			.title {
				color: $theme-color;
			}
			.read-more {
				color: $theme-color;
				i {
					transform: rotate(0);
				}
			}
		}
		&.active-bg {
			background-color: #303030;
			border-color: #303030;
		}
		@include breakpoint(max-lg) {
			max-width: 100%;
			padding: 16px 16px 16px 16px;
			display: flex;
			align-items: center;
			gap: 20px 30px;
			.content {
				width: calc(100% - 280px);
				.date {
					margin-bottom: 16px;
					gap: 16px;
					font-size: 16px;
					.line {
						width: 24px;
					}
				}
				.title {
					font-size: 30px;
					line-height: 40px;
					margin-bottom: 20px;
				}
			}
			.thumb {
				max-width: 280px;
			}
		}
		@include breakpoint(max-md) {
			gap: 16px 24px;
			.content {
				width: calc(100% - 210px);
				.date {
					margin-bottom: 7px;
					gap: 16px;
					font-size: 16px;
					.line {
						width: 16px;
					}
				}
				.title {
					font-size: 22px;
					line-height: 30px;
					margin-bottom: 12px;
				}
			}
			.thumb {
				max-width: 210px;
			}
		}
		@include breakpoint(max-sm) {
			gap: 16px 24px;
			flex-wrap: wrap;
			.content {
				width: calc(100%);
				.date {
					margin-bottom: 7px;
					gap: 16px;
					font-size: 16px;
					.line {
						width: 16px;
					}
				}
				.title {
					font-size: 22px;
					line-height: 30px;
					margin-bottom: 12px;
				}
			}
			.thumb {
				max-width: 100%;
			}
		}
	}
}
.article-head {
	.service-title {
		margin: 0;
		max-width: 100%;
		text-align: left;
		.sticker-done {
			top: 57%;
			right: 7px;
		}
	}
	margin-bottom: 90px;
	@include breakpoint(max-xxl) {
		margin-bottom: 70px;
	}
	@include breakpoint(max-xl) {
		margin-bottom: 50px;
	}
	@include breakpoint(max-lg) {
		margin-bottom: 40px;
	}
	@include breakpoint(max-md) {
		margin-bottom: 30px;
	}
}
.view-all-btn {
	width: 178px;
	height: 178px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	text-align: center;
	font-weight: 500;
	line-height: 22px;
	color: $white;
	justify-content: center;
	border: 1px solid rgb(255, 255, 255, 33%);
	transition: all 0.4s;
	&:hover {
		transform: translateY(-2px);
		background: linear-gradient(90deg, #f36a3b 0%, #b52600 100%);
	}
	@include breakpoint(max-xxl) {
		width: 158px;
		height: 158px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		text-align: center;
		font-weight: 500;
		line-height: 22px;
	}
	@include breakpoint(max-lg) {
		width: 128px;
		height: 128px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		text-align: center;
		font-weight: 500;
		line-height: 22px;
	}
	@include breakpoint(max-md) {
		width: 90px;
		height: 90px;
		font-size: 12px;
		font-weight: 500;
		line-height: 19px;
	}
}
//article-section02

//article-section03
.article-section03 {
	.article-title3 {
		font-size: 66px;
		line-height: 76px;
		text-transform: uppercase;
		margin-bottom: 120px;
		.secound {
			padding-left: 172px;
		}
	}
	.article-inner3 {
		display: flex;
		flex-direction: column;
		gap: 78px;
		.article__item3 {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px 24px;
			.profile-area {
				.learning-tag {
					font-size: 14px;
					line-height: 14px;
					color: $black;
					text-transform: uppercase;
					border-radius: 4px;
					padding: 8px 15px;
					border: 1px solid #d9d9d9;
					display: inline-block;
					margin-bottom: 75px;
				}
				.profile {
					gap: 10px;
					h5 {
						font-size: 18px;
						color: $black;
						margin-bottom: 6px;
					}
					.date {
						font-size: 13px;
						color: #717171;
						line-height: 14px;
					}
				}
			}
			.article-content-right {
				gap: 18px 124px;
				display: flex;
				align-items: center;
				.thumb {
					max-width: 391px;
					border-radius: 12px;
					img {
						border-radius: 12px;
						width: 100%;
						transition: all 0.4s;
					}
				}
				.title {
					max-width: 494px;
					color: $black;
					font-size: 36px;
					line-height: 46px;
					margin: 0;
					display: block;
				}
			}
			&:hover {
				.article-content-right {
					.thumb {
						img {
							transform: scale(1.05);
						}
					}
					.title {
						color: $theme-color;
					}
				}
			}
		}
	}
	@include breakpoint(max-xxl) {
		.article-title3 {
			font-size: 46px;
			line-height: 66px;
			margin-bottom: 80px;
			.secound {
				padding-left: 120px;
			}
		}
		.article-inner3 {
			gap: 60px;
			.article__item3 {
				gap: 20px 24px;
				.profile-area {
					.learning-tag {
						font-size: 14px;
						line-height: 14px;
						padding: 8px 15px;
						display: inline-block;
						margin-bottom: 30px;
					}
					.profile {
						gap: 10px;
						h5 {
							font-size: 18px;
							margin-bottom: 6px;
						}
						.date {
							font-size: 13px;
						}
					}
				}
				.article-content-right {
					gap: 18px 30px;
					display: flex;
					align-items: center;
					.thumb {
						max-width: 391px;
					}
					.title {
						max-width: 494px;
						font-size: 36px;
						line-height: 46px;
						margin: 0;
						display: block;
					}
				}
				&:hover {
					.article-content-right {
						.thumb {
							img {
								transform: scale(1.05);
							}
						}
						.title {
							color: $theme-color;
						}
					}
				}
			}
		}
	}
	@include breakpoint(max-xl) {
		.article-title3 {
			font-size: 34px;
			line-height: 44px;
			margin-bottom: 40px;
			span {
				font-size: 34px;
			}
			.secound {
				padding-left: 70px;
			}
		}
		.article-inner3 {
			gap: 60px;
			.article__item3 {
				gap: 20px 24px;
				.profile-area {
					.learning-tag {
						font-size: 14px;
						line-height: 14px;
						padding: 8px 15px;
						display: inline-block;
						margin-bottom: 30px;
					}
					.profile {
						gap: 10px;
						h5 {
							font-size: 18px;
							margin-bottom: 6px;
						}
						.date {
							font-size: 13px;
						}
					}
				}
				.article-content-right {
					gap: 18px 30px;
					display: flex;
					align-items: center;
					.thumb {
						max-width: 391px;
					}
					.title {
						max-width: 494px;
						font-size: 36px;
						line-height: 46px;
						margin: 0;
						display: block;
					}
				}
				&:hover {
					.article-content-right {
						.thumb {
							img {
								transform: scale(1.05);
							}
						}
						.title {
							color: $theme-color;
						}
					}
				}
			}
		}
	}
	@include breakpoint(max-lg) {
		.article-title3 {
			font-size: 29px;
			line-height: 39px;
			margin-bottom: 29px;
			text-align: center;
			max-width: 400px;
			margin: 0 auto 29px;
			span {
				font-size: 29px;
			}
			.secound {
				padding-left: 0px;
			}
		}
		.article-inner3 {
			gap: 40px;
			.article__item3 {
				gap: 18px 24px;
				flex-direction: column;
				align-items: flex-start;
				.profile-area {
					.learning-tag {
						font-size: 14px;
						line-height: 14px;
						padding: 8px 15px;
						display: inline-block;
						margin-bottom: 30px;
					}
					.profile {
						gap: 10px;
						h5 {
							font-size: 18px;
							margin-bottom: 6px;
						}
						.date {
							font-size: 13px;
						}
					}
				}
				.article-content-right {
					gap: 18px 24px;
					display: flex;
					.thumb {
						max-width: 391px;
					}
					.title {
						max-width: 494px;
						font-size: 28px;
						line-height: 40px;
						margin: 0;
						display: block;
					}
				}
				&:hover {
					.article-content-right {
						.thumb {
							img {
								transform: scale(1.05);
							}
						}
						.title {
							color: $theme-color;
						}
					}
				}
			}
		}
	}
	@include breakpoint(max-md) {
		.article-title3 {
			font-size: 29px;
			line-height: 39px;
			margin-bottom: 29px;
			text-align: center;
			max-width: 400px;
			margin: 0 auto 29px;
			span {
				font-size: 29px;
			}
			.secound {
				padding-left: 0px;
			}
		}
		.article-inner3 {
			gap: 36px;
			.article__item3 {
				gap: 18px 24px;
				flex-direction: column;
				align-items: flex-start;
				.profile-area {
					order: 1;
					.learning-tag {
						font-size: 14px;
						line-height: 14px;
						padding: 8px 15px;
						display: inline-block;
						margin-bottom: 30px;
					}
					.profile {
						gap: 10px;
						h5 {
							font-size: 18px;
							margin-bottom: 6px;
						}
						.date {
							font-size: 13px;
						}
					}
				}
				.article-content-right {
					gap: 18px 24px;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					.thumb {
						max-width: 391px;
					}
					.title {
						max-width: 494px;
						font-size: 20px;
						line-height: 30px;
						margin: 0;
						display: block;
					}
				}
			}
		}
	}
}
//article-section03

//article-section05
.article-section05 {
	.article-title {
		font-size: 66px;
		line-height: 76px;
		color: $black;
		font-weight: 500;
		margin-bottom: 60px;
	}
	@include breakpoint(max-xxl) {
		.article-title {
			font-size: 48px;
			line-height: 58px;
			margin-bottom: 40px;
		}
	}
	@include breakpoint(max-lg) {
		.article-title {
			font-size: 38px;
			line-height: 48px;
			margin-bottom: 30px;
		}
	}
	@include breakpoint(max-md) {
		.article-title {
			font-size: 26px;
			line-height: 30px;
			margin-bottom: 24px;
		}
	}
}
.article__item5 {
	padding: 15px 15px 22px;
	border-radius: 12px;
	border: 1px solid #e2e2e2;
	.thumb {
		border-radius: 12px;
		width: 100%;
		display: block;
		overflow: hidden;
		img {
			transition: all 0.4s;
		}
	}
	.content {
		margin: -35px 10px 0;
		z-index: 1;
		position: relative;
		background-color: $white;
		border-radius: 12px;
		padding: 36px 30px;
		.date-tag {
			font-size: 16px;
			color: $black;
			display: inline-flex;
			align-items: center;
			gap: 7px;
			border: 1px solid #d9d9d9;
			padding: 5px 13px;
			border-radius: 100px;
			margin-bottom: 20px;
			i {
				color: $black;
				font-size: 14px;
			}
		}
		h4 {
			margin-bottom: 15px;
			a {
				font-size: 26px;
				line-height: 34px;
				font-weight: 600;
				color: $black;
			}
		}
		p {
			font-size: 16px;
			line-height: 24px;
			color: #5c5c5c;
		}
	}
	.footer-article {
		margin-top: 24px;
		.comment {
			color: #5c5c5c;
			font-size: 16px;
			font-weight: 500;
			i {
				color: $black;
			}
		}
	}
	&:hover {
		.thumb {
			img {
				transform: scale(1.05);
			}
		}
		h4 {
			a {
				color: $theme-color;
			}
		}
	}
	@include breakpoint(max-xl) {
		padding: 10px 10px 18px;
		.content {
			margin: -15px 0px 0;
			padding: 24px 19px;
			.date-tag {
				font-size: 14px;
				padding: 4px 12px;
				margin-bottom: 15px;
				i {
					color: $black;
					font-size: 14px;
				}
			}
			h4 {
				margin-bottom: 12px;
				a {
					font-size: 20px;
					line-height: 27px;
				}
			}
			p {
				font-size: 15px;
				line-height: 24px;
			}
		}
		.footer-article {
			margin-top: 16px;
			.comment {
				font-size: 16px;
				font-weight: 500;
				i {
					color: $black;
				}
			}
		}
	}
}
//article-section05

//build-together-section
.build-together-section {
	.together-wrap {
		padding: 150px 10px 60px;
		.content {
			max-width: 1535px;
			margin: 0 auto;
			h2 {
				font-size: 200px;
				line-height: 200px;
				color: $white;
				font-weight: 400;
				letter-spacing: -0.01em;
			}
		}
	}
	p {
		font-size: 18px;
		text-align: center;
		padding: 4px 12px;
		color: #5c5c5c;
		margin-top: 55px;
	}
	@include breakpoint(max-xxl) {
		p {
			margin-top: 34px;
		}
		.together-wrap {
			padding: 70px 10px 70px;
			.content {
				max-width: 1535px;
				margin: 0 auto;
				h2 {
					font-size: 150px;
					line-height: 150px;
				}
			}
		}
	}
	@include breakpoint(max-xl) {
		.together-wrap {
			padding: 70px 10px 70px;
			.content {
				max-width: 1535px;
				margin: 0 auto;
				h2 {
					font-size: 110px;
					line-height: 110px;
				}
			}
		}
		p {
			margin-top: 24px;
		}
	}
	@include breakpoint(max-lg) {
		.together-wrap {
			padding: 70px 10px 70px;
			.content {
				max-width: 1535px;
				margin: 0 auto;
				h2 {
					font-size: 80px;
					line-height: 80px;
				}
			}
		}
		p {
			margin-top: 16px;
			line-height: 19px;
		}
	}
	@include breakpoint(max-md) {
		.together-wrap {
			padding: 70px 10px 70px;
			.content {
				max-width: 1535px;
				margin: 0 auto;
				h2 {
					font-size: 65px;
					line-height: 65px;
				}
			}
		}
	}
	@include breakpoint(max-sm) {
		.together-wrap {
			padding: 50px 10px 50px;
			.content {
				max-width: 1535px;
				margin: 0 auto;
				h2 {
					font-size: 40px;
					line-height: 48px;
				}
			}
		}
	}
}

//News Section 06
.news-section06 {
	.section-title6 {
		margin-bottom: 72px;
	}
	.news__items-06 {
		.date-area {
			display: flex;
			align-items: center;
			gap: 12px;
			margin-bottom: 22px;
			.line {
				background: rgba(255, 255, 255, 0.34);
				height: 1px;
				width: 38px;
				display: block;
			}
			i {
				font-size: 8px;
				color: $white !important;
			}
			span {
				color: rgba(255, 255, 255, 0.767);
				display: block;
				font-size: 16px;
				line-height: 17px;
			}
		}
		.head-title {
			font-size: 24px;
			line-height: 34px;
			color: $white;
			font-weight: 500;
			margin-bottom: 30px;
			display: block;
		}
		.thumb {
			margin-bottom: 30px;
			display: block;
			border-radius: 8px;
			img {
				transition: all 0.4s;
				border-radius: 8px;
			}
		}
		p {
			font-size: 16px;
			line-height: 24px;
			color: rgba(255, 255, 255, 0.767);
			margin-bottom: 24px;
		}
		&:hover {
			.head-title {
				color: $theme-color;
			}
			.thumb {
				img {
					transform: scale(1.05);
				}
			}
		}
	}
	@include breakpoint(max-xxl) {
		.section-title6 {
			margin-bottom: 45px;
		}
		.news__items-06 {
			.date-area {
				display: flex;
				align-items: center;
				gap: 8px;
				flex-wrap: wrap;
				margin-bottom: 16px;
				.line {
					width: 16px;
				}
				i {
					font-size: 8px;
				}
				span {
					font-size: 15px;
					line-height: 16px;
				}
			}
			.head-title {
				font-size: 20px;
				line-height: 27px;
				margin-bottom: 20px;
			}
			.thumb {
				margin-bottom: 20px;
			}
			p {
				font-size: 15px;
				line-height: 22px;
				margin-bottom: 18px;
			}
		}
	}
	@include breakpoint(max-xl) {
		.section-title6 {
			margin-bottom: 35px;
		}
	}
	@include breakpoint(max-lg) {
		.section-title6 {
			margin-bottom: 24px;
		}
	}
}
.max-w-100 {
	max-width: 100% !important;
}
.container-1400 {
	max-width: 1400px;
}
.theme-btn-quick {
	display: flex;
	align-items: center;
	.texts {
		font-size: 16px;
		font-weight: 600;
		color: $theme-color;
		background-color: transparent;
		padding: 8.5px 24px;
		border: 1px solid $theme-color;
		border-right: 0 !important;
		transition: all 0.5s;
	}
	.theme-btn-arrow {
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		border: 1px solid $theme-color;
		color: $theme-color;
		transition: all 0.5s;
		i {
			transform: rotate(-50deg);
			transition: all 0.4s;
		}
	}
	&:hover {
		.texts {
			background-color: $theme-color;
			color: $white;
		}
		.theme-btn-arrow {
			background-color: $theme-color;
			color: $white;
			border-left: 1px solid $white !important;
			i {
				color: $white;
				transform: rotate(0deg);
			}
		}
	}
}

//blog-section__7
.blog-section__7 {
}
.blog-card07 {
	cursor: pointer;
	background: transparent;
	transition: all 0.4s ease;

	.blog-image-wrapper {
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
		}

		.category-tag {
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: $theme-color; // Using your --theme variable
			color: $white;
			padding: 10px 24px;
			font-size: 14px;
			line-height: 18px;
			font-weight: 500;
			z-index: 2;
			transition: all 0.3s ease;
		}
	}

	.blog-content {
		padding-top: 24px;

		.blog-meta {
			display: flex;
			align-items: center;
			gap: 12px;
			margin-bottom: 16px;

			.meta-line {
				width: 20px;
				height: 1px;
				background-color: $theme-color;
			}

			.date {
				color: $theme-color;
				font-size: 16px;
				font-weight: 400;
			}
		}

		.blog-title {
			color: $white;
			font-size: 22px;
			font-weight: 600;
			line-height: 1.3;
			margin: 0;
			transition: color 0.4s ease;
			font-family: $heading-sub;
		}
	}

	// --- HOVER ANIMATION ---
	&:hover {
		.blog-image-wrapper {
			img {
				transform: scale(1.1); // Smooth zoom
			}

			.category-tag {
				background-color: $white;
				color: $black; // Inverts color on hover
			}
		}

		.blog-title {
			color: $theme-color; // Title highlights in theme color
		}
	}
}

//blog 09
.blog-new-wrap9 {
	background: #ffffff;
	box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.07);
	border-radius: 12px;
	padding: 120px 90px;
	.blog-header {
		display: flex;
		flex-wrap: wrap;
		gap: 14px;
		margin-bottom: 35px;
		justify-content: space-between;
		h4 {
			font-weight: 600;
			font-size: 24px;
			line-height: 40px;
			letter-spacing: -0.02em;
			color: #1e2023;
			font-family: $heading-font;
		}
	}
	@include breakpoint(max-xxl) {
		padding: 24px 24px;
		.blog-header {
			display: flex;
			flex-wrap: wrap;
			gap: 12px;
			margin-bottom: 28px;
			h4 {
				font-size: 20px;
				line-height: 28px;
			}
		}
	}
}

.blog-items-09 {
	.blog-thumb {
		width: 100%;
		display: block;
		overflow: hidden;
		border-radius: 12px;
		margin-bottom: 29px;
		img {
			overflow: hidden;
			width: 100%;
			border-radius: 12px;
			display: block;
			transition: all 0.4s ease-in-out;
		}
	}
	.blog-content {
		.blog-meta {
			display: flex;
			align-items: center;
			gap: 10px 21px;
			flex-wrap: wrap;
			margin-bottom: 26px;
			li {
				color: #150e3d;
				font-size: 15px;
				line-height: 18px;
			}
			.marketing-tag {
				border: 1px solid #d9d9d9;
				border-radius: 13.5px;
				font-weight: 500;
				font-size: 15px;
				line-height: 18px;
				text-transform: capitalize;
				color: #150e3d;
				padding: 6px 18px;
				border-radius: 100px;
				display: inline-block;
			}
		}
		.blog-title {
			margin-bottom: 19px;
			a {
				font-size: 26px;
				display: block;
				line-height: 36px;
				color: $black;
				font-weight: 600;
				color: #171717;
			}
		}
	}
	&:hover {
		.blog-content {
			.blog-title a {
				color: #ac8de0;
			}
		}
		.blog-thumb {
			img {
				border-radius: 12px;
				transform: scale(1.05);
			}
		}
	}
	@include breakpoint(max-lg) {
		.blog-thumb {
			margin-bottom: 24px;
		}
		.blog-content {
			.blog-meta {
				display: flex;
				align-items: center;
				gap: 10px 16px;
				flex-wrap: wrap;
				margin-bottom: 26px;
			}
			.blog-title {
				margin-bottom: 12px;
				a {
					font-size: 22px;
					display: block;
					line-height: 30px;
					color: $black;
					font-weight: 600;
					color: #171717;
				}
			}
		}
	}
}

.text-theme6 {
	color: #ac8de0;
}

//blog-items-10
.blog-items-10 {
	.blog-content {
		.blog-meta {
			li {
				color: #626c74;
				display: flex;
				align-items: center;
				gap: 6px;
				i {
					color: #85a6a6;
				}
			}
		}
		.blog-title {
			a {
				font-size: 24px;
				color: #28241f;
			}
		}
	}
	.blog-thumb-300 {
		max-width: 300px;
	}
	&:hover {
		.blog-content {
			.blog-title {
				a {
					color: #85a6a6;
				}
			}
		}
	}
}

.blog-right-wrap10 {
	gap: 30px;
	@include breakpoint(max-lg) {
		gap: 22px;
	}
}
.text-theme10 {
	color: #85a6a6;
}
.bg-theme11{
	background-color: #85a6a6;
}
.bg-badge-title{
	background-color: #EFEFEF !important;
	color: #626C74 !important;
}

//blog-items-11
.blog-items-11 {
	.blog-content {
		.blog-meta-date {
			li {
				.line {
					width: 24px;
					height: 0px;
					border: 1px solid #85a6a6;
				}
				font-weight: 400;
				font-size: 18px;
				line-height: 30px;
				color: #85a6a6;
			}
		}
	}
	&:hover {
		.blog-content {
			a{
				color: #85A6A6 !important;
			}
		}
	}
}

